{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block section_title %}
    Редактирование поста <b>{{ post.title }}</b>
{% endblock %}

{% block className %}
    "post-update"
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form class="w-50 mx-auto mt-5 mb-5" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
