// FONTS
@font-face {
    font-family: 'Pattaya';
    src: url('../static/fonts/Pattaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// COLORS
$violet: #5f27cd;
$gold: #fed330;
$green: #26de81;
$red: #ff3f34;
$blue: #447cb6;
$black: #2d272e;

// STYLE
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
}

// HEADER
header {
    nav {
        .navbar-brand {
            margin-left: 1rem;
        }
        .nav-link {
            color: #fff;
            font-weight: 600;
        }
    }
    .header-logo {
        font-family: 'Pattaya', sans-serif;
        color: $black;
        text-align: center;
        margin-top: 5rem;
    }
}
.bg-srcws {
    background: $blue;
}
.navbar-brand {
    font-family: 'Pattaya', sans-serif;
    color: #fff;
}

// MAIN
main {
    flex-shrink: 0;
    .container {
        padding: 1rem;
    }
}

// BLOG
.post-create {
    #div_id_content {
        display: flex;
        flex-direction: column;
    }
}
// GALLERY
.gallery-albums {
    a {
        img {
            width: 16rem;
        }
    }
}
#my-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    .gallery__column {
        text-align: center;
        max-width: 30%;
        .gallery__image {
            max-width: 100%;
            padding: 0.3rem;
        }
    }
}

// FOOTER
.footer {
    margin-top: auto;
    padding: 1rem 0;
    span {
        font-size: 1.2rem;
        color: #fff;
    }
}

// ADMIN PANEL
.admin-panel {
    padding: .5rem;
    max-width: 100%;
    width: 50%;
    border: 1px solid #447cb6;
    border-radius: 1rem;
}

@media (max-width: 576px) {
    .admin-panel {
        width: 95%;
    }
    .footer {
        span {
            font-size: 1rem;
        }
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
    .admin-panel {
        width: 95%;
    }
    main {
        .container {
            padding: 0px;
            max-width: 100%;
        }
    }
    .card {
        max-width: 100%;
        width: 98%;
        .card-body {
            p {
                max-width: 100%;
                img {
                    width: 200px;
                }
            }
        }
    }
    .footer {
        span {
            font-size: 1rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .admin-panel {
        width: 80%;
    }
    main {
        .container {
            padding: 0px;
        }
    }
    .card {
        max-width: 100%;
        width: 80%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .admin-panel {
        width: 65%;
    }
    main {
        .container {
            max-width: 90%;
            padding: 1px;
        }
    }
    .card {
        max-width: 100%;
        width: 70%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .admin-panel {
        width: 60%;
    }
    main {
        .container {
            max-width: 80%;
        }
    }
    .card {
        max-width: 100%;
        width: 65%;
    }
}