.gallery {
    a {
        img {
            width: 16rem;
        }
    }
}
#my-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    .gallery__column {
        text-align: center;
        max-width: 25%;
        .gallery__image {
            max-width: 100%;
            padding: 0.3rem;
        }
    }
}