// FONTS
@font-face {
    font-family: 'Pattaya';
    src: url('../static/fonts/Pattaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// COLORS
$violet: #5f27cd;
$gold: #fed330;
$green: #26de81;
$red: #ff3f34;
$blue: #4b7bec;
$black: #1e272e;

// STYLE
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
}
h1 {
    font-family: 'Pattaya', sans-serif;
    color: $black;

}
header {
    nav {
        position: relative;
        .nav-link {
            color: #fff;
            font-weight: 600;
        }
    }
}
.bg-srcws {
    background: $violet;
}
.text-bg-srcws {
    background: $violet;
}
.offcanvas-title {
    color: #fff;
}
.navbar-brand {
    font-family: 'Pattaya', sans-serif;
    color: #fff;
}
main {
    flex-shrink: 0;
    .srcws_container {
        padding: 0;
        width: 90%;
        .last-posts {
            height: 100%;
            padding-bottom: 1.5rem;
            .card {
                margin-left: auto;
                margin-right: auto;
                max-width: 50rem;
                width: 80%;
                margin-top: 1rem;
            }
            .more-info {
                display: flex;
                justify-content: center;
                margin-right: auto;
                margin-left: auto;
                a {
                    margin-top: 3rem;
                }
            }
        }
        .clergy {
            h3 {
                color: #fff;
            }
        }
        .contacts {
            height: 92vh;
            padding-top: 5%;
            
            .yandex-map {
                margin-top: 10%;
            }
        }
    }
}
.delete {
    margin-top: 25%;
}
.footer {
    margin-top: auto;
    padding: 1rem 0;
    span {
        display: inline-block;
        font-size: 1.2rem;
        text-align: center;
        color: #fff;
    }
}

.admin-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #4b7bec;
    border-radius: .5rem;
    padding: 0.4rem;
    right: 2rem;
    bottom: 25%;
    .button-collection {
        display: flex;
        flex-direction: column;
        width: 8rem;
        margin-top: 1rem;
        a {
            margin-top: 0.5rem;
        }
    }
}