{% extends "index.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'pswp/photoswipe.css' %}">
{% endblock %}

{% block section_title %}
    Альбом <b>{{ album.title }}</b>
{% endblock %}

{% block className %}
    "gallery-album-detail"
{% endblock %}

{% block content %}
    <div class="pswp-gallery pswp-gallery--single-column row" id="my-gallery">
        {% for items in images %}
            <div class="gallery__column col-sm-3">
                {% for item in items %}
                    <a href="{{ item.src.url }}" data-pswp-width="{{ item.origin_width }}" data-pswp-height="{{ item.origin_height }}" target="_blank" class="thmb">
                        <img class="gallery__image" src="{{ item.src.url }}" alt="{{ item.slug }}" />
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_js %}
    <script type="module">
        import Lightbox from "{% static 'pswp/photoswipe-lightbox.esm.min.js' %}";
        const lightbox = new Lightbox({
        gallery: '#my-gallery',
        children: 'a',
        pswpModule: () => import("{% static 'pswp/photoswipe.esm.min.js' %}")
        });
        lightbox.init();
    </script>
{% endblock %}