{% extends "index.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'lbsrwcs/css/lightbox.min.css' %}">
{% endblock %}

{% block section_title %}
    Альбом <b>{{ album.title }}</b>
{% endblock %}

{% block className %}
    "gallery"
{% endblock %}

{% block content %}
    <ul class="gallery-list">
        {% for image in images %}
            <li>
                <figure>
                    <a href="{{ image.src.url }}" data-lightbox="roadtrip">
                        <img src="{{ image.src.url }}" alt="{{ image.slug }}" />
                    </a>
                </figure>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block custom_js %}
        <script src="{% static 'lbsrwcs/js/lightbox.min.js' %}"></script>
        <script src="{% static 'lbsrwcs/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}