{% extends "index.html" %}

{% block section_title %}
    Галерея
{% endblock %}

{% block className %}
    "gallery-albums"
{% endblock %}

{% block content %}
    <ul class="gallery-list">
        {% for album in albums %}
            <li>
                <figure>
                    <a href="{{ album.get_absolute_url }}">
                        <img src="{{ album.cover.url }}" alt="{{ album.title }}" />
                    </a>
                </figure>
            </li>
        {% endfor %}
    </ul>
{% endblock %}