{% extends "index.html" %}

{% block section_title %}
    Галерея
{% endblock %}

{% block className %}
    "gallery-albums"
{% endblock %}

{% block content %}
    <div class="row justify-content-evenly">
        {% for album in albums %}
            {% if album.is_visible %}
                <div class="col-sm-2 align-self-center">
                    <a href="{{ album.get_absolute_url }}">
                        <img src="{{ album.cover.url }}" alt="{{ album.title }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}