{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block section_title %}
    Создание тега
{% endblock %}

{% block className %}
    "tag-create"
{% endblock %}

{% block content %}
    <form class="w-50 mx-auto" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <a href="{% url 'blog:tags' %}" class="btn btn-secondary">Отмена</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}
