{% extends "index.html" %}

{% block section_title %}
    Посты с тегом <b>{{ tag.tag }}</b>:
{% endblock %}

{% block className %}
    "tag-detail"
{% endblock %}

{% block content %}
    {% for post in tag.posts.all %}
        <div class="card w-50 mb-3 mx-auto">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description | truncatewords:30 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}