{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row w-50 mx-auto">
        <h2 class="text-center mt-5 mb-2">Редактирование тега <b>{{ tag }}</b></h2>
        <form class="mt-5" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="../" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
