{% extends 'index.html' %}

{% block section_title %}
    Вы действительно хотите удалить расписание на <b>{{ schedule }}</b>?
{% endblock %}

{% block className %}
    "schedule-delete"
{% endblock %}

{% block content %}
    <div class="row text-center">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <a href="{{ schedule.get_absolute_url }}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
{% endblock %}
