{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="">
        <h2 class="text-center mt-5 mb-2">Создание распиания</h2>
        <form class="w-50 mx-auto mt-5" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <a href="/schedule" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </section>
{% endblock %}
