{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'srcws_style.css' %}">
    {% block custom_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-srcws fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about:clergy' %}">Духовенство</a>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Новости
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'blog:posts' %}">Посты</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:tags' %}">Теги</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'schedule:schedule' %}">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:albums' %}">Галерея</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Чтение
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Евангелие дня</a></li>
                                <li><a class="dropdown-item" href="#">Толкование на Евангелие от Матфея</a></li>
                                <li><a class="dropdown-item" href="#">Толкование на Евангелие от Марка</a></li>
                                <li><a class="dropdown-item" href="#">Толкование на Евангелие от Иоанна</a></li>
                                <li><a class="dropdown-item" href="#">Толкование на Евангелие от Луки</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Толкование на Библию</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about:donation' %}">Пожертвование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about:contacts' %}">Контакты</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" method="get" action="{% url 'search:search' %}">
                        <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Search" name="search">
                        <button class="btn btn-light" type="submit">Найти</button>
                    </form>
                </div>
            </div>
        </nav>
        <h1 class="header-logo">Храм преподобного Сергия Радонежского<br>г.Балашиха, мкр. северное
            Кучино</h1>
    </header>
    {% if request.user.is_staff %}
        <div class="admin-panel mx-auto">
            <h5 class="card-title text-center text-muted">Admin panel</h5>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin">Админка</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Создать</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'blog:post_create' %}">Пост</a></li>
                        <li><a class="dropdown-item" href="{% url 'blog:tag_create' %}">Тег</a></li>
                        <li><a class="dropdown-item" href="{% url 'gallery:album_create' %}">Альбом</a></li>
                        <li><a class="dropdown-item" href="{% url 'schedule:schedule_create' %}">Расписание</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ obj.get_update_url }}" class="nav-link text-warning text-center {% if not detail %}disabled{% endif %}">Редактировать</a>
                </li>
                <li class="nav-item">
                    <a href="{{ obj.get_delete_url }}" class="nav-link text-danger text-center {% if not detail %}disabled{% endif %}">Удалить</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <main class="mt-3 mb-5">
        <div class="container">
            <section class={% block className %}{% endblock %}>
                <h2 class="text-center mb-5">{% block section_title %}{% endblock %}</h2>
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </main>
    <footer class="footer bg-srcws text-center">
            <span>Храм Святого Преподобного Сергия Радонежского. Балашихинская и Орехово-Зуевская епархия. Балашихинское
                благочиние Русской Православной церкви.</span>
    </footer>

    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    {% block custom_js %}{% endblock %}

</body>

</html>