{% extends "index.html" %}

{% block section_title %}
    Последние новости
{% endblock %}

{% block className %}
    "last-posts"
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col">
                <div class="card text-center mt-3 mb-2 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title}}</h5>
                        <p class="card-text">{{ post.description | truncatewords:40 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ post.created_at }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'blog:posts' %}" class="btn btn-primary">Больше новостей...</a>
        </div>
    </div>
{% endblock %}